<!-- <p>introduction works!</p> -->

<div class="classroom-bg py-5">
    <div class="inner container-fluid">
        <app-breadcrumb-topbar [menuList]="menuList"></app-breadcrumb-topbar>

        <div class="container-fluid" id="splash-screen">
            <div class="content-wrapper">
                <div class="featured-model">
                    <div class="image-wrapper">
                        <img src="../../../../../../../../assets/images/splash-screens-characters/lettering-splash-screen-two/identify-vowel-letters/literacy_stage-1_identify-vowel-letters_introduction.png"
                            alt="" class="img-fluid">
                    </div>
                    <!-- app-speech-synthesis-utterance -->
                    <!-- <app-speech-synthesis-utterance [statement]="statement"></app-speech-synthesis-utterance> -->
                    <!--  -->
                    <app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
                </div>
                <app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="true"></app-arrow-controls>
            </div>
        </div>

    </div>
</div>