<!-- <p>third-screen-consonant-splash works!</p> -->
<!-- <div class="container-fluid" id="splash-screen">
    <div class="content-wrapper">
        <div class="featured-model">
            <div class="image-wrapper">
                <img src="../../../../../../../../assets/images/splash-screens-characters/stage-2/stage-2-splash-screen-3.png" alt="" class="img-fluid">
            </div>
            <app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
        </div>
        <app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="true"></app-arrow-controls>
    </div>
</div>
 -->

 

<div class="template-content">
    <div class="character-image">
        <img src="../../../../../../../../assets/images/splash-screens-characters/stage-2/stage-2-splash-screen-3.png" alt="" class="img-fluid">
    </div>
</div>
<app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
<app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="true"></app-arrow-controls>


