<!-- <p>lettering-stage-one-instructional-video works!</p>
<button class="btn btn-primary" [routerLink]="['/literacy/lettering/stage-1/activity']">Continue</button> -->
<div id="instructional-video-screen">
    <div class="video-wrapper container-fluid">
        <video style="width: 100%" controls>
            <source src="../../../../../../../../assets/videos/TEP STAGE 1.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML video.
        </video>
    </div>
    <div>
        <div style="padding:71.11% 0 0 0;position:relative;">
            <iframe
                src="https://player.vimeo.com/video/764111709?h=b90673e2cc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LEVEL LETTER STAGE 1">
            </iframe>
        </div>
    </div>
    <!-- <div class="text-center btn-wrapper" [ngClass]="{'d-none': !isVideoEnded}">
        <button class="btn btn-block instructional-video-continue-btn"
            [routerLink]="['/literacy/lettering/stage-1/activity']">Continue</button>
    </div> -->
    <div class="text-center btn-wrapper d-none">
        <button class="btn btn-block instructional-video-continue-btn"
            [routerLink]="['/literacy/lettering/stage-1/activity']">Continue</button>
    </div>
</div>