<!-- <p>pronounce-ball works!</p> -->
<div class="template-content">
    <div class="object-image">
        <img src="../../../../../../../../../assets/images/splash-screens-characters/stage-2/pronunciation-images/literacy_lettering_stage-2_pronunciation-ball.png"
            alt="" class="img-fluid">
    </div>
</div>
<!-- <button class="btn" id="replay-voice-btn"></button> -->
<app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
<!-- <div class="controls bg-dark">
    <div class="nav-left text-white">
        <button class="btn previous-btn"></button>
    </div>
    <div class="nav-right text-white">
        <button class="btn next-btn"></button>
    </div>
</div> -->
<app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="isCorrect"></app-arrow-controls>
<!-- <div class="mark-control">
    <button type="button" class="btn" id="wrong-btn">
        Wrong
    </button>
    <button type="button" class="btn" id="correct-btn">
        Correct
    </button>
</div> -->
<app-mark-control (correctAnswer)="onCorrect(correctAnswer, true)" (wrongAnswer)="onWrong(wrongAnswer, false)"></app-mark-control>
