@use "../_abstracts/colors";
#account-page {
    .title-wrapper {
        background: #1e2b19;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        // padding: 17px 18px;
        // padding: 17px 25px;
        padding: 1.05em 1.7em;
        .title {
            align-items: center;
            color: #ffffff;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 800;
            font-size: 1.5rem;
            // line-height: 34px;
            margin-bottom: 0;
        }
    }

    .body-wrapper {
        // padding: 23px 25px;
        // padding: 23px 25px;
        padding: 1.05em 1.7em;
        background: #ffffff;
        .item-card {
            border: 1px solid #aeaeae;
            border-radius: 10px;
            // padding: 13px;
            padding: 0.87em;
            // margin-bottom: 20px;
            margin-bottom: 1.2em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .item-card-body,
        .item-card-header {
            border-bottom: 1px solid #aeaeae;
            // padding-bottom: 20px;
            // margin-bottom: 20px;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .item-card-header {
            .heading {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                // font-size: 24px;
                font-size: 1.3rem;
                // line-height: 33px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #1e1e1e;
                margin: 0;
            }
        }

        .item-card-footer,
        .item-card-header {
            button {
                padding-right: 1.3em;
                padding-left: 1.3em;
            }

            #search-btn{
                padding-right: .9em;
                padding-left: .9em;
            }


        }
    }
}
