<!-- <p>third-screen works!</p> -->
<div class="container-fluid">
    <div class="content-wrapper">
        <div class="featured-model">
            <div class="image-wrapper">
                <img src="../../../../../../../../assets/images/splash-screens-characters/stage-1/stage-1-splash-screen-3.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="controls">
            <div class="nav-left text-white">
                <button class="btn previous-btn" [routerLink]="['/literacy/stage-1/second-screen']"></button>
            </div>
            <div class="nav-right text-white">
                <button class="btn next-btn" [routerLink]="['/literacy/stage-1/fourth-screen']"></button>
            </div>
        </div>
    </div>
</div>

