<!-- <p>update-password works!</p> -->

<div id="forgot-password-content">
    <div class="brand-logo">
        <img src="../../../../../assets/images/TEP-school-custom-title-image.png" alt="" class="img-fluid">
    </div>
    <div class="card account-verification-card">
        <div class="card-header">
            Change password
        </div>
        <div class="card-body">
            <form [formGroup]="UpdatePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="NewPassword">New Password</label>
                    <input type="password" class="form-control" name="NewPassword" id="NewPassword"
                        formControlName="NewPassword" required>
                </div>
                <div class="form-group">
                    <label for="ConfirmNewPassword">Confirm New Password</label>
                    <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword"
                        formControlName="ConfirmNewPassword" required>
                </div>
                <app-button [btnTitle]="btnTitle" [btnClasses]="btnClasses" [disabled]="!UpdatePasswordForm.valid">
                </app-button>
            </form>
        </div>
    </div>
</div>