<!-- <p>e-vowel works!</p> -->
<!-- <div class="content">
    <h1>e</h1>
    <app-mark-control></app-mark-control>
</div> -->

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="content">
            <h1>e</h1>
            <app-mark-control (correctAnswer)="onCorrect(correctAnswer)" (wrongAnswer)="onWrong(wrongAnswer)"></app-mark-control>

        </div>
        <app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink"></app-arrow-controls>
    </div>
</div>
