<!-- <p>exercise works!</p> -->

<div class="canvas-wrapper">
    <!-- <div id="result-screen-type-2">
        <div class="inner">
            <ul class="list-style-none" id="result-list">
                <li *ngFor="let item of resultLetterWords">
                    <span *ngFor="let alphabet of item.word" [ngClass]="{'d-none': !item.isDone}">{{alphabet?.name |
                        uppercase}}</span>
                </li>
            </ul>
        </div>
    </div> -->



    <div id="word-result-screen-type-1">
        <div class="inner">
            <div class="word-result-board">
                <ul class="list-style-none mb-0 pl-0">
                    <li *ngFor="let item of selectedAlphabets"
                        [ngClass]="{'text-capitalize ': item == selectedAlphabets[0]}">{{item?.name}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="output-screen">
        <div class="inner">
            <div class="obj" id="first-obj" [ngClass]="{'good': selectedAlphabets[0]?.isWellPlaced}">
                {{selectedAlphabets[0]?.name}}</div>
            <div id="operator" class="btn"></div>
            <div class="obj" id="second-obj">{{selectedAlphabets[1]?.name}}</div>
            <div id="operator" class="btn"></div>
            <div class="obj" id="second-obj">{{selectedAlphabets[2]?.name}}</div>
            <div id="operator" class="btn"></div>
            <div class="obj" id="second-obj">{{selectedAlphabets[3]?.name}}</div>
        </div>
    </div>

    <!-- <ul class="list-style-none pl-0 keyboard" id="activity-canvas">
        <li *ngFor="let item of actionAlphabets">
            <button class="btn key rounded-0" (click)="onPush(item)">{{item?.name | uppercase}}</button>
        </li>
    </ul> -->


    <ul class="list-style-none pl-0 word-keyboard row no-gutters">
        <li class="col-3 p-1 p-lg-2" *ngFor="let item of actionWords">
            <button class="btn key rounded-0" (click)="onPush(item)">{{item?.name}}</button>
        </li>
    </ul>
</div>