<!-- <p>say-alphabet-a works!</p> -->

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="featured-model">
            <div class="image-wrapper">
                <img src="../../../../../../../../assets/images/splash-screens-characters/lettering-splash-screen-two/stage-1-lettering-splash-two-alphabet-a-screen-2.svg" alt="" class="img-fluid">
            </div>
            <!-- app-speech-synthesis-utterance -->
            <app-speech-synthesis-utterance [statement]="statement"></app-speech-synthesis-utterance>
            <!--  -->
        </div>
        <app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink"></app-arrow-controls>
    </div>
</div>
