.display-card {
    border-radius: 30px;
    min-height: 130px;
    margin: .5em;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.4rem;
        text-shadow: 1px 1px 1px #fff;
    }
}
