<!-- <p>e-identity works!</p> -->

<!-- <div id="identify-vowel-letters-page">
    <div class="container-fluid" id="splash-screen">
        <div class="content-wrapper">
            <div class="featured-model">
                <div class="image-wrapper">
                    <img src="../../../../../../../../assets/images/splash-screens-characters/lettering-splash-screen-two/identify-vowel-letters/literacy_stage-1_identify-vowel-letters_identify-alphabet-e.png"
                        alt="" class="img-fluid">
                </div>
                <app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
            </div>
            <app-mark-control (correctAnswer)="onCorrect(correctAnswer, true)" (wrongAnswer)="onWrong(wrongAnswer, false)"></app-mark-control>
            <app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="isCorrect"></app-arrow-controls>
        </div>
    </div>
</div> -->


<div class="template-content">
    <div class="character-image">
        <img src="../../../../../../../../assets/images/splash-screens-characters/lettering-splash-screen-two/identify-vowel-letters/literacy_stage-1_identify-vowel-letters_identify-alphabet-e.png"
            alt="" class="img-fluid">
    </div>
</div>
<app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
<app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="isCorrect"></app-arrow-controls>
<app-mark-control (correctAnswer)="onCorrect(correctAnswer, true)" (wrongAnswer)="onWrong(wrongAnswer, false)"></app-mark-control>


