<p>exercise works!</p>
<!-- <p>exercise works!</p> -->
<h1 class="title">Identify more than six(6) consonant letters among the alphabets</h1>

<!-- <div class="card">
    <div class="card-body">
        <div class="alert alert-info text-center" *ngIf="isFinishedMessage">{{isFinishedMessage}}</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Consonant</th>
                    <th>Vowel</th>
                    <th>Selected count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{consonants?.length}}</td>
                    <td>{{vowels?.length}}</td>
                    <td>{{this.selectedAlphabets?.length}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<!-- {{alphabets | json}} -->
<!-- <div class="alert alert-success">
    Selected: {{this.selectedAlphabets | json}}
</div> -->
<div class="canvas-wrapper">
    <ng-container *ngIf="(isLoading$ | async)">
        <small class="text-white">Loading...</small>
    </ng-container>
    <div class="alert alert-info text-center" *ngIf="isFinishedMessage">
        <p>{{successMessage}}<br />
            {{isFinishedMessage}}
        </p>
    </div>
    <ul class="list-style-none pl-0" id="activity-canvas">
        <li *ngFor="let item of alphabets">
            <input type="checkbox" id="{{item?.id}}" hidden [(ngModel)]="item.isChecked"
                [ngModelOptions]="{standalone: true}" (change)="onChecked(); onSelected(item)">
            <label for="{{item?.id}}">
                <span class="fake-box"
                    [ngClass]="{'right-answer': item.isChecked && item?.type == consonant,'wrong-answer': item.isChecked && item?.type == vowel}">{{item?.name}}</span>
                <span class="linen"></span>
            </label>
        </li>
    </ul>
</div>