<!-- <p>pronounce-umbrella works!</p> -->
<div id="pronunciation-page">
    <div class="container-fluid" id="splash-screen">
        <div class="content-wrapper">
            <div class="featured-model">
                <div class="image-wrapper">
                    <img src="../../../../../../../../assets/images/splash-screens-characters/lettering-splash-screen-two/alphabet-u-screens/stage-1-lettering-splash-two-alphabet-u-screen-4.png" alt="" class="img-fluid">
                </div>
                <!-- app-speech-synthesis-utterance -->
                <!-- <app-speech-synthesis-utterance [statement]="statement"></app-speech-synthesis-utterance> -->
                <!--  -->
                <app-voice-audio-player [audioFile]="srcFile"></app-voice-audio-player>
            </div>
            <app-mark-control (correctAnswer)="onCorrect(correctAnswer, true)" (wrongAnswer)="onWrong(wrongAnswer, false)"></app-mark-control>
            <app-arrow-controls [leftLink]="leftLink" [rightLink]="rightLink" [isCorrect]="isCorrect"></app-arrow-controls>
        </div>
    </div>
    
</div>
